/* Centra la calculadora en la pantalla */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* Contenedor de la calculadora */
.container-fluid {
  max-width: 400px; /* Máximo ancho de la calculadora */
  background-color: #c1c1c1; 
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px;
  display: flex;
  flex-direction: column;
  
}

/* Estilo para la pantalla de la calculadora */
.display {
  background-color: #222;
  color: #ffffff;
  font-size: 2rem;
  text-align: right;
  padding: 20px;
  border-radius: 5px;
  flex-shrink: 0;
}



/* Estilo para los botones */
button {
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0;
}

/* Estilo para los botones al hacer hover */
button:hover {
  background-color: #d3bebe;
}

/* Estilos para los botones normales */
button:not(.operator) {
  background-color: #ffffff; 
  color: #333; 
}

/* Estilos para los botones con operadores */
.operator {
  background-color: #ffa500;
  color: #fff;
}





